/*Is selecting everything on the page */
*{
    margin:0;
    /* border: blue 3px solid; */
}

body{
    background-color: #FFB0E2 ;
    font-family: 'Jost', sans-serif;
h1{
    font-size: 40px;
}
h2{
    font-size: 20px
    }

}

/* settings for people that have stated that they want reduced motion */
@media (prefers-reduced-motion){
    body{
        background-color: (#37376B);
    }
    .wrapper{
        background-image: url("1667-lurking-kitty.png");
        size-adjust: 100%;
    }
}
/* settings for the background if the person has not set a motion preference, meaning they are fine with motion */
@media (prefers-reduced-motion:no-preference){
    body{
        background-color: #FFB0E2;
    }
    .wrapper{
        background-image: url("cute-cat.gif");
    }
}

/* Settings for the wrapper, regardless of motion settings */
.wrapper{
    /* background-image: url("pastel-moon.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: min(100% - 3rem, 65ch);
    height: min(100vh - 6rem);
    margin-top:3em;
    margin-inline: auto;
    border: hwb(324 0% 0%) 3px solid;

}

.text-wrapper{
    /* margin-bottom:1em; */
    position:absolute;
    bottom:0;
}

@media only screen and (min-width: 1200px) {
    .wrapper {
      background-color: lightblue;
      height: min(60vh);
      margin-top:6em;
      margin-top:6em;
    }
  }
